<section id='home'>
    <!-- top-banner -->
    <div class='container-fluid px-0 top-banner'>
        <div class='content-wrap'>
            <div class='row'>
                <div class='col-lg-5 col-sm-6'>
                    <h1>Cửa hàng bán bán ngọt ngon nhất Sài Gòn</h1>
                    <div class='mt-4'>
                        <a href='/menu' class='main-btn'>Đặt hàng</a>
                        <a href='/contact' class='white-btn'>Liên hệ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cake and type cake -->
    <div class='home-product'>
        <div class='content-wrap'>
            <!-- type cake -->
            <div class='home-type-cake'>
                <div class='row'>
                    <img
                        class='logo-title'
                        src='https://img.icons8.com/external-photo3ideastudio-flat-photo3ideastudio/64/000000/external-bakery-august-bakery-photo3ideastudio-flat-photo3ideastudio.png'
                    />
                    <h4>Sản phẩm được yêu thích nhất</h4>
                </div>
                <div class='row'>
                    {{#each data.typeCakes}}
                        <button class='col-sm-3 custom-button'>
                            <div style='background-image: url({{this.image}});' class='type-cake-item'>
                            </div>
                            <div class='type-cake-text-item'>
                                <h5>{{this.name}}</h5>
                            </div>
                        </button>
                    {{/each}}
                </div>
            </div>
            <!-- cake -->
            <div class='home-cake'>
                <div class='row'>
                    {{#each data.cakes}}
                        <a class='col-sm-3 custom-button' href='/menu/{{this._id}}'>
                            <div class='cake-item'>
                                <div class='content-image' style='background-image: url({{this.image}});'>
                                    <div class='cake-name'>
                                        <h5>Thêm vào giỏ</h5>
                                    </div>
                                </div>
                                <div class='content-title'>
                                    <h5>{{this.name}}</h5>
                                    <h5 class='price'>{{this.priceDiscount}} đ</h5>
                                </div>
                            </div>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class='home-news'>
        <div class='content-wrap'>
            <!-- Title -->
            <div class='row'>
                <img
                    class='logo-title'
                    src='https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-news-news-icongeek26-flat-icongeek26.png'
                />
                <h4>Tin tức</h4>
            </div>
            <!-- Group news -->
            <div class='row'>
                <button class='col-sm-3 custom-button'>
                    <div class='news-item'>
                        <div
                            class='content-image'
                            style="background-image: url('https://mqflavor.com/wp-content/uploads/2021/02/cac-mon-trang-mieng-ngot-cua-nhat-ban-hap-dan-phan-dong-thuc-khach-850x470.jpg');"
                        >
                        </div>
                        <div class='content-title'>
                            <h5>Xu hướng bánh ngọt chi phối thị trường F&B</h5>
                        </div>
                        <div class='content-read-now'>
                            <a
                                href='https://mqflavor.com/4-xu-huong-huong-ngot-noi-bat-chi-phoi-thi-truong-fb-2021/'
                                class='main-btn'
                            > Đọc ngay</a>
                        </div>
                    </div>
                </button>
                <button class='col-sm-3 custom-button'>
                    <div class='news-item'>
                        <div
                            class='content-image'
                            style="background-image: url('https://mqflavor.com/wp-content/uploads/2021/11/banh-mang-huong-socola-dac-biet-duoc-gen-z-va-millennials-yeu-thich-850x470.jpg');"
                        >
                        </div>
                        <div class='content-title'>
                            <h5>Vanila và Socola là top 2 thị trường bánh ngọt Mỹ</h5>
                        </div>
                        <div class='content-read-now'>
                            <a
                                href='https://mqflavor.com/vanilla-va-socola-la-top-2-huong-vi-trang-mieng-duoc-ua-chuong-nhat-tai-my/#top'
                                class='main-btn'
                            > Đọc ngay</a>
                        </div>
                    </div>
                </button>
                <button class='col-sm-3 custom-button'>
                    <div class='news-item'>
                        <div
                            class='content-image'
                            style="background-image: url('https://mqflavor.com/wp-content/uploads/2021/11/dong-kem-heaven-cua-haagen-dazs-voi-day-du-huong-vi-850x470.jpg');"
                        >
                        </div>
                        <div class='content-title'>
                            <h5>Hương vanilla và trái cây được ưa chuộng như thế nào trong thị trường?</h5>
                        </div>
                        <div class='content-read-now'>
                            <a
                                href='https://mqflavor.com/vanilla-va-socola-la-top-2-huong-vi-trang-mieng-duoc-ua-chuong-nhat-tai-my/#top'
                                class='main-btn'
                            > Đọc ngay</a>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!--  home-member-->
    <div class='home-member-section'>
        <div class='content-wrap'>
            <div class='text-center'>
                <img class='logo-title' src='https://img.icons8.com/color/48/000000/member-skin-type-7.png' />
                <h2>Đội ngũ</h2>
            </div>
            <div class='row'>
                <div class='col-sm-12 col-lg-10 offset-lg-1'>
                    <div id='carousel-member' class='carousel slide' data-ride='carousel'>
                        <ol class='carousel-indicators'>
                            <li data-target='#carousel-member' data-slide-to='0' class='active'></li>
                            <li data-target='#carousel-member' data-slide-to='1'></li>
                            <li data-target='#carousel-member' data-slide-to='2'></li>
                            <li data-target='#carousel-member' data-slide-to='3'></li>

                        </ol>
                        <div class='carousel-inner'>
                            <div class='carousel-item active'>
                                <div class='carousel-caption'>
                                    <img src='image/home/review-1.jpg' />
                                    <p>"Sinh viên khoa công nghệ phầm mềm khóa 2018, có kinh nghiệm với NodeJS ExpressJS
                                        ReactJS, hiện đang theo học HTML CSS JS thầy Khoa ."</p>
                                    <h5>Huỳnh Long Pháp - Backend</h5>
                                </div>
                            </div>
                            <div class='carousel-item'>
                                <div class='carousel-caption'>
                                    <img src='image/home/review-2.jpg' />
                                    <p>"Sinh viên khoa công nghệ phầm mềm khóa 2018, có kinh nghiệm với Flutter React
                                        Native ReactJS, hiện đang theo học HTML CSS JS thầy Khoa ."</p>
                                    <h5>Nguyễn Văn Hoài Nam - Mobile</h5>
                                </div>
                            </div>
                            <div class='carousel-item'>
                                <div class='carousel-caption'>
                                    <img src='image/home/review-1.jpg' />
                                    <p>"Sinh viên khoa công nghệ phầm mềm khóa 2019, có kinh nghiệm với Flutter React
                                        Native ReactJS, hiện đang theo học HTML CSS JS thầy Khoa ."</p>
                                    <h5>Thiên Ngân - Frontend</h5>
                                </div>
                            </div>
                            <div class='carousel-item'>
                                <div class='carousel-caption'>
                                    <img src='image/home/review-1.jpg' />
                                    <p>"Sinh viên khoa công nghệ phầm mềm khóa 2019, có kinh nghiệm với ReactJS NodeJS
                                        Native ReactJS, hiện đang theo học HTML CSS JS thầy Khoa ."</p>
                                    <h5>Nguyễn Hà Bảo Minh - FrontEnd</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>