<div class="pt-4 ml-4 pl-2 user-information">
    <form method="POST" action="/user-update" class="user-information-form">
        <div class="row">
            <div class="personal-information col-3 ml-4 mt-2">
                <h4>Thông tin cá nhân</h4>
                <div class="form-group">
                    <label for="fullName">Họ tên</label>
                    <input type="text" class="form-control" id="fullName" value="{{user.fullName}}" name="fullName">
                </div>
                <div class="form-group">
                    <label for="birthday">Ngày sinh</label>
                    <input type="date" class="form-control" id="birthday" value="{{user.birthday}}" name="birthday">
                </div>

                <h4>Thông tin liên hệ</h4>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        value="{{user.email}}" disabled>
                </div>
                <div class="form-group">
                    <label for="province">Tỉnh thành</label>
                    <input type="string" class="form-control" id="province" value="{{user.address.province}}"
                        name="province">
                </div>
                <div class="form-group">
                    <label for="district">Quận huyện</label>
                    <input type="string" class="form-control" id="district" value="{{user.address.district}}"
                        name=district>
                </div>
                <div class="form-group">
                    <label for="ward">Phường xã</label>
                    <input type="string" class="form-control" id="ward" value="{{user.address.ward}}" name="ward">
                </div>
                <div class="button-group">
                    <button class="btn btn-secondary" id="cancel-btn" disabled><a class="text-decoration-none"
                            id="cancel-link" style="color: white;">Hủy</a></button>
                    <button type="submit" class="btn btn-danger ml-3" id="save-btn" disabled>Lưu</button>
                </div>
            </div>
            <div class="user-image col-3 ml-2 mt-2">
                {{#if user.image}}
                <img src="{{user.image}}" alt="avatar" class="user-image-avatar d-block m-auto">
                {{else}}
                <img src="\image\test.jpeg" alt="avatar" class="user-image-avatar d-block m-auto">
                {{/if}}
                <input type="file" class="form-control-file d-none" id="image-upload-btn" name="image">
                <input type="button" id="image-upload-raiser" class="btn btn-danger d-block ml-auto mr-auto mt-4"
                    value="Đổi ảnh đại diện">
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </form>
</div>